
@media screen and (min-width: 800px) and (max-width: 2000px)  {

    body {
        background-color: #ffffff;
        width: 1700px;
    }

    #logo.wrapper {

    }

    #logo {
        max-width: 70%;
        position: fixed;
        top: 0;
        left: 15%;
        right: 15%;
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {


    #logo {
        max-width: 70%;
        position: fixed;
        top: 0;
        left: 15%;
        right: 15%;
    }
}


